<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--
     namespace 写Dao接口
     insert标签 添加  update标签更改   delete 删除
     标签中写 sql语句
-->

<mapper namespace="com.mzw.dao.UserDao">

    <select id="selectOne" resultType="com.mzw.entity.User">
       SELECT * FROM  AUCTIONUSER WHERE USERNAME=#{username} AND USERPASSWORD=#{password}
    </select>

</mapper>